.tmsplaceholder{
	margin:10% 
}
.tmsrow{
	border-style: solid; 
	border-width: 0.5px;
}
.tmstitle{
	margin:2% 10%;
	color:#FF66FF;
}
.tmsside{
	position:fixed;
	top:85px;
	bottom:0px;
	width:200px;
	background-color:#D0E17D;
	box-shadow:2px 2px 5px #333333;
}
.tmsul{
	background-color:#D0E17D;
}
.tmsli{
	height:40px;
	margin-bottom:4px;
	background-color:#59A1BF;
	text-align:center;
	vertical-align:center;
	box-shadow:2px 2px 5px #333333;
}
.tmslicurr{
	height:40px;
	margin-bottom:4px;
	background-color:#ff4692;
	text-align:center;
	box-shadow:2px 2px 5px #ff4692;
}
.font{
	font-family: Arial;
	color:white;

}
.tmsbody{
	position:fixed;
	top:85px;
	bottom:0px;
	left:200px;
	right:0px;
}
.tmsform{
	margin-top:20px;
}
.tmsbutton0{
	border-radius: 10px;
	background-color:#009ad8;
}
.tmsbutton1{
	border-radius: 10px;
	position:fixed;
	top:105px;
	right:150px;
}
.tmsbutton2{
	border-radius: 10px;
	background-color: #FF9999;
	position:fixed;
	top:105px;
	right:30px;
}
.demo-class .layui-layer-title{
	background:#d3d3d3; color:#fff; border: none;
}
.tmstable{
	margin-left:10%;
}