<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>班级管理</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="./layui/css/layui.css"  media="all">
  <link rel="stylesheet" href="./css/tms.css" media="all"> 
  <script src="./layui/layui.js" charset="utf-8"></script> 
</head>
<body>
  <div class="layui-row tmsrow">
    <div class="layui-col-md9">
      <h1 class="tmstitle">
      <b>XXXX学员管理系统</b>
	  </h1>
    </div>
    <div class="layui-col-md3">
    </div>
  </div>
  <div class="tmsside">
    <ul class="tmsul">
      <li class="tmsli"><a class="font">班级管理</a></li>
      <li class="tmsli"><a class="font">教师管理</a></li>
      <li class="tmsli"><a class="font">学员管理</a></li>
    </ul>
  </div>
  <div class="tmsbody">
  <div class="layui-form-item">
    <div class="layui-inline">
      <label class="layui-form-label">班级:</label>
      <div class="layui-input-inline">
        <input type="tel" name="phone" lay-verify="required|phone" autocomplete="off" class="layui-input">
      </div>
      <label class="layui-form-label">类别:</label>
      <div class="layui-input-inline">
      <select name="interest" lay-filter="aihao" class="layui-input">
        <option value="">全部</option>
        <option value="0">美术</option>
        <option value="1">音乐</option>
      </select>
      </div>
      <label class="layui-form-label">教师:</label>
      <div class="layui-input-inline">
        <input type="tel" name="phone" lay-verify="required|phone" autocomplete="off" class="layui-input">
      </div>
      <div class="layui-input-inline">
        <button type="button" class="layui-btn layui-btn-radius">查询</button>
        <button type="button" class="layui-btn layui-btn-radius">今日有课</button>
      </div>
      <button  type="button" class="layui-btn tmsbutton">新建班级</button>
    </div>
  </div>
	 <table id="demo" lay-filter="test"></table>
  </div>
  
  <script>
  layui.use(['table','upload','form'], function()
			{
				  var table = layui.table;
				  //第一个实例
				  table.render({
				    elem: '#demo'
				    ,height: 312
				    ,url: './users/checkUser' //数据接口
				    ,page: true //开启分页
				    ,cols: [[ //表头
				    	 {field: 'bmname', title: '部门名称', width:200}
					      ,{field: 'mname', title: '姓名', width:100}
					      ,{field: 'mxb', title: '性别', width:100}
					      ,{field: 'msr', title: '生日', width:200} 
					      ,{field: 'jg', title: '籍贯', width: 100}
				    ]],
				    page:false
				    ,parseData: function(res)
				    {
				    	//res 即为原始返回的数据，来修改返回数据
				    	var data=res.message.data;
				        return {
				          "code": res.state, //解析接口状态
				          "msg": res.error, //解析提示文本
				          "count":res.message.data.length, //解析数据长度
				          "data": data //解析数据列表
				        };
				      }
				  });
				  
				});
</script>

</body>
</html>